

ul { /* https://getcssscan.com/blog/how-to-remove-bullets-from-li-css */
  list-style-type: none;
  margin: 0;
  padding: 0;

} 

 a{ /*https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links*/
  text-decoration:none;  
  font-size: 2em;
  color:rgb(255, 225, 241);   
  margin: 0.25em;
  }

a:active{
    color:purple;
}

a:hover{
  color:deeppink;
}

.myLogo {
  color:deeppink;
  
}

li{
  display: inline;
}


.font25 {
  font-size: 2.5em;

}

.font2 {
  font-size: 1.25em;
 
}